---
layout: default
title: Home
---

<h1 class="post-title">Welcome</h1>

<div class="message">
  Thank you for opening my open lab notebook!
</div>

<p>In this open lab notebook, I seek to commit to open science through my data, methodology, and analyses. Inspired by <a href='https://github.com/hputnam/Putnam_Lab_Notebook' target='_blank'>Holly Putnam</a>, I want this notebook to serve as an open-access repository of my thoughts and ideas. Notebook entries will outline the analysis I am conducting and link to resources, data, and Github repositories.</p>

<p>I hope this notebook not only documents and improves my own work, but advances the capabilities and knowledge of our scientific community.The layout of the notebook will be simple; each entry will be categorized and dated to facilitate archiving. This will allow easy jumping from related post to related post - effectively tracking my progress through time and topic. To access these archives, click the sidebar and select which archive you'd like to view. My hope is that this notebook will allow myself and others following along to easily connect the threads of my work.</p>

<hr>

<h1 class="post-title">Notebook Entries</h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
	
	<a href="{{ post.url | absolute_url }}"><strong>Open Notebook Entry...</strong></a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

